<ion-header>
  <ion-navbar>
    <ion-title>Scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="scanForm" (ngSubmit)="processForm()">
  
    <ion-item>
      <ion-label>Shop</ion-label>
      <ion-select formControlName="shop_code">
        <ion-option value="TENBS3">Tenovus BS3</ion-option>
        <ion-option value="CHSWBS3">Childrens Hospice SW</ion-option>
        <ion-option value="STPHBS3">St Peters Hospice North Street</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>ISBN</ion-label>
      <ion-input type="text" formControlName="isbn"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Condition</ion-label>
      <ion-input type="text" formControlName="condition"></ion-input>
    </ion-item>

    <button type="submit" ion-button block [disabled]="!scanForm.valid">Submit</button>

  </form>

  <br><hr><br>

  <button ion-button (click)="scan()">Scan ... </button>
  <div *ngIf="scanData">
    <p>Scanned Text : {{ scanData.text }}</p>
    <p>Scanned Format : {{ scanData.format }}</p>
  </div>

  <button ion-button (click)="post()">Post...</button>
  <p>Access Token: {{ access_token }}</p>

  <ion-list>
    <ion-item *ngFor="let c of countries">
      <ion-avatar item-left>
        <img src="{{c.flag}}">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
    </ion-item>
  </ion-list>
  
  <br><hr><br>

  <ion-title>Scans</ion-title>
  <ion-list>
    <ion-item *ngFor="let scan of scanStorage.scans">
      {{ scan.shop }}: 
      {{ scan.isbn }} : 
      {{ scan.martin }} 
      ( {{ scan.condition }} )
    </ion-item>
  </ion-list>

</ion-content>
