<ion-header>
  <ion-navbar>
    <ion-title>Scan Stock</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="scanForm" (ngSubmit)="processForm()">
  
    <ion-item>
      <ion-label>Shop</ion-label>
      <ion-select formControlName="shop_code">
        <ion-option value="TENBS3">Tenovus BS3</ion-option>
        <ion-option value="CHSWBS3">Childrens Hospice SW</ion-option>
        <ion-option value="STPHBS3">St Peters Hospice North Street</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>ISBN</ion-label>
      <ion-input type="text" formControlName="isbn"></ion-input>
    </ion-item>

    <button type="submit" ion-button block [disabled]="!scanForm.valid">Submit</button>

  </form>

  <br><hr><br>

  <button ion-button (click)="scan()">Scan ...</button>
  <div *ngIf="scanData">
    <p>Scanned Text : {{ scanData.text }}</p>
    <p>Scanned Format : {{ scanData.format }}</p>
  </div>

  <p>Access Token: {{ rest.access_token | slice:0:12 }}</p>

  <ion-list>
    <ion-item *ngFor="let c of countries">
      <ion-avatar item-left>
        <img src="{{c.flag}}">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
    </ion-item>
  </ion-list>
  
  <br><hr><br>

  <ion-title>Scans</ion-title>
  <button ion-button (click)="post()" [disabled]="!scanStorage.scans.length">Post...</button>
  <ion-list>
    <ion-item *ngFor="let scan of scanStorage.scans" (click)="openScanMenu(scan)">
      {{ scan.isbn }} in {{ scan.shop_code }}
    </ion-item>
  </ion-list>

</ion-content>
